/* Conteneur principal */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
}

.form-wrapper {
  max-width: 1270px;
 margin :auto ; 
  padding: 40px;
  background-color: #f8faff;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* En-tête */
.form-header h5 {
  color: #ff9900;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.form-header h1 {
  font-size: 28px;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}

.form-header p {
  color: #666666;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

/* Formulaire */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Ajout d'un style pour les icônes dans les champs */
input,
select,
textarea {
  flex: 1;
  padding: 15px 15px 15px 40px; /* Ajout de padding pour les icônes à gauche */
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  width: calc(50% - 10px);
  position: relative;
}

textarea {
  width: 100%;
  min-height: 120px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #ff9900;
}

input.icon, select.icon, textarea.icon {
  padding-left: 40px; /* Ajustement pour les icônes */
}

input.icon:focus,
select.icon:focus,
textarea.icon:focus {
  border-color: #ff9900;
}

/* Bouton d'envoi */
button {
  padding: 15px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e68a00;
}
